.ContactList {
  font-family: cursive;
  margin: 50px;
  border: 8px solid;
  padding: 0.5rem;
  height: max-content;
  background-color: rgb(155, 215, 174);
}

.ContactList p {
  font-weight: bold;
}
