.ContactList {
  font-family: cursive;
  margin: 30px;
  border: 8px solid;
  padding: 0.5rem;
}

.ContactList ul li{
min-width: max-content;
}


/*Animation*/
@keyframes slideInFromTop {
  0% {
    transform: translateY(100%);
  }
  
  100% {
    transform: translateX(0);
  }
}

.ContactList{
  animation:slideInFromTop 2s ease-in;
}