.Feed {
  font-family: Futura;
  background: #facefa;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


/*Animation*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-150%);
  }
  
  100% {
    transform: translateX(0);
  }
}

.Feed{
  animation:slideInFromLeft 1s ease-in;
}